<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Free cafe catalogue for you">
  <meta name="theme-color" content="#6f7064" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Cafepedia - Cafe Catalogue</title>
</head>

<body>
  <a href="#maincontent" class="skip-content"> Skip to Main Content </a>

  <header class="header">
    <div class="header__container">
      <a href="/" class="header__inner">
        <h1 class="header__title">Cafepedia</h1>
      </a>

      <button id="menu" class="header__menu" aria-label="button to open side menu">
        ☰
      </button>

      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/cafe-catalogue">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/rakasiwisurya">About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title" tabindex="0">
        <span>Welcome</span> food hunter
      </h1>
      <p class="hero__tagline" tabindex="0">
        Find exciting place to eat, just use <i>Cafepedia</i> ! All your
        favorite cafes are in one application. Let's find the cafe you like,
        here!
      </p>
    </div>
  </div>

  <main id="maincontent">
    <section class="content">
      <div class="latest">
        <h1 class="latest__label">Loading...</h1>
      </div>
    </section>
  </main>

  <footer>
    <p tabindex="0">Copyright &copy; 2021 | Cafepedia |</p>
    <p tabindex="0">Created by Rakasiwi Surya</p>
  </footer>
</body>

</html>