<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Free cafe catalogue for you">
  <meta name="theme-color" content="#6f7064" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Cafepedia - Cafe Catalogue</title>
</head>

<body>
  <a href="#maincontent" class="skip-content"> Skip to Main Content </a>

  <header class="header">
    <div class="header__container">
      <a href="/" class="header__inner">
        <h1 class="header__title">Cafepedia</h1>
      </a>

      <button id="menu" class="header__menu" aria-label="button to open side menu">
        ☰
      </button>

      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/cafe-catalogue">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/rakasiwisurya">About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title" tabindex="0">
        <span>Welcome</span> food hunter
      </h1>
      <p class="hero__tagline" tabindex="0">
        Find exciting place to eat, just use <i>Cafepedia</i> ! All your
        favorite cafes are in one application. Let's find the cafe you like,
        here!
      </p>
    </div>
  </div>

  <main id="maincontent">
    <section class="content">
      <div class="latest">
        <h1 class="latest__label">Loading...</h1>
      </div>
    </section>
    <!-- <section class="content">
        <div class="latest">
          <h1 class="latest__label" tabindex="0">All Cafes List</h1>
          <div class="posts">

            <article class="post-item" tabindex="0">
              <div class="post-item__card">
                <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                  alt="Bring Your Phone Cafe" tabindex="0" />
                <div class="post-item__location">
                  <h2 tabindex="0">Medan</h2>
                </div>
              </div>
              <div class="post-item__content">
                <div class="post-item__title-rating">
                  <h1 class="post-item__title">
                    <a href="#">Bring Your Phone Cafe</a>
                  </h1>
                  <p class="post-item__rating" tabindex="0">Rating: 4.6</p>
                </div>
                <p class="post-item__description" tabindex="0">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
              </div>
            </article>

            <article class="post-item" tabindex="0">
              <div class="post-item__card">
                <img class="post-item__thumbnail" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32"
                  alt="Github logo" tabindex="0" />
                <div class="post-item__location">
                  <h2 tabindex="0">Bali</h2>
                </div>
              </div>
              <div class="post-item__content">
                <div class="post-item__title-rating">
                  <h1 class="post-item__title">
                    <a href="#">Run The Gun</a>
                  </h1>
                  <p class="post-item__rating" tabindex="0">Rating: 4.6</p>
                </div>
                <p class="post-item__description" tabindex="0">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
              </div>
            </article>

          </div>
        </div>
      </section> -->
  </main>

  <footer>
    <p tabindex="0">Copyright &copy; 2021 | Cafepedia |</p>
    <p tabindex="0">Created by Rakasiwi Surya</p>
  </footer>
</body>

</html>