* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #424242;
}

a {
    text-decoration: none;
}

a,
button {
    min-height: 44px;
    min-width: 44px;
}

li {
    list-style: none;
}

/*
 * Skip Content
 *
 */

.skip-content {
    position: absolute;
    z-index: 11;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: var(--trans-cubic);
    top: 0;
    left: 0;
    background-color: var(--grass-green);
    color: var(--white);
    padding: 0 10px;
    line-height: 50px;
    text-align: center;
}

.skip-content:focus {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/*
 * Header
 *
 */

.header {
    position: fixed;
    z-index: 10;
    background-color: var(--white);
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
}

.header__inner {
    flex-wrap: auto;
    width: 85%;
    text-align: center;
}

.header__title {
    font-weight: 500;
    font-size: 2.4em;
    color: var(--grass-green);
}

.header__menu {
    background-color: var(--white);
    border-radius: 4px;
    border-width: 1.5px;
    flex-wrap: auto;
    width: 15%;
    text-align: center;
    font-size: 32px;
    width: 30px;
}

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    width: 100%;
    padding: 1.3em;
    color: var(--grass-green);
    font-weight: 500;
    font-size: 1.1em;
}

.nav a:hover {
    background-color: var(--grass-green);
    color: var(--white);
}

/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 78px;
    min-height: 380px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url("/images/heros/hero.jpg");
    background-position: center;
    background-color: var(--dark-green);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.hero__inner {
    margin: 0 44px;
    max-width: 450px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 2.1em;
}

.hero__title span {
    display: block;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 1.2em;
    font-weight: 300;
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 90px 32px;
}

/*
 * latest
 */

.latest {
    width: 100%;
    margin: auto;
    text-align: center;
}

.latest__label {
    font-size: 2em;
    font-weight: 500;
}

/*
 * post
 */

.posts {
    margin: 28px auto auto;
    text-align: left;
}

/*
 * post item
 */

.post-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.post-item__content {
    padding: 16px;
}

.post-item__card,
.post-item__card img {
    transition: var(--trans-cubic);
}

.post-item__card {
    position: relative;
    overflow: hidden;
}

.post-item__card img:hover {
    transform: scale(1.1);
}

.post-item__thumbnail {
    width: 100%;
    max-height: 208px;
}

.post-item__location {
    position: absolute;
    top: 1rem;
    background: var(--white);
    padding: .5rem 1.5rem;
    border-radius: 0 10px 10px 0;
    transition: var(--trans-cubic);
    display: flex;
}

.post-item__location h2 {
    font-weight: 600;
    margin: auto;
    font-size: 1.2em;
}

.post-item__title-rating {
    display: grid;
    grid-template-columns: 2.5fr .5fr;
    grid-column-gap: .5rem;
}

.post-item__title {
    font-weight: 500;
    font-size: 16px;
    margin: auto 0;
    transition: 0.3s opacity;
}

.post-item__title:hover {
    opacity: 0.5;
}

.post-item__title a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.post-item__rating {
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.post-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: var(--grass-green);
    color: var(--white);
    padding: 2em;
    text-align: center;
}

/*
 * like
 */

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * single
 */

.single__img {
    width: 100%;
    margin-top: 1rem;
    position: relative;
}

.single__img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .75rem;
    height: 380px;
    max-height: 380px;
}

.single__menu .post-item__content-title,
.single__content-title {
    text-align: center;
    margin: 1rem 0;
}

.single__review,
.single__content {
    margin: 2rem auto;
    text-align: left;
}

.single__user-review {
    display: flex;
    flex-direction: column;
}